<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893248719179-skcoup47eu0pva2nmqsvjk39f27r8ol1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893248719179-skcoup47eu0pva2nmqsvjk39f27r8ol1</string>
	<key>API_KEY</key>
	<string>AIzaSyCrAUe3X4vEjNmPZKTWBsAjOj9iHP80390</string>
	<key>GCM_SENDER_ID</key>
	<string>893248719179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorgainzation.WhatsApp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-f21aa</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-f21aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893248719179:ios:b9140068aa007bdb4380ce</string>
</dict>
</plist>